{% extends 'accounts/main.html' %}
{% load static %}

{% block content %}

<div class="card mt-5">
    <div class="card-header">
      Delete Order
    </div>
    <div class="card-body text-center">
      <h5 class="card-title">Confirmation</h5>
      <p class="card-text">Are you sure to delete {{ order.product.name }}?</p>
      <form method="post">
          {% csrf_token %}
          <a href="{% url 'home' %}" class="btn btn-sm btn-secondary">Cancel</a>
          <input type="submit" class="btn btn-sm btn-primary" value="Save Changes">
      </form>
    </div>
  </div>

{% endblock %}